<div class="wide-container border-bottom">
  <div class="medium-container padding">
    <h1> WHO ARE WE? </h1>
    <h2> PEOPLE ENDING POVERTY </h2>
  </div>
</div>
<div class="wide-container" id="about-banner">
  <div class="medium-container padding">
  	<a class="about-button" href="#"> Our Process </a>
  	<a class="about-button" href="#"> Our Team </a>
  	<a class="about-button" href="#"> Our Story </a>
  </div>
</div>
<div class="wide-container border-top">
  <div class="medium-container padding">
  	<h1> OUR PROCESS </h1>
  	<h2> CYCLICAL CROWDFUNDING </h2>
  </div>
  <div class="small-container padding">
  	<p> This is the story of Elevate Africa. </p>
  </div>
</div>