<!DOCTYPE HTML>
<body>
<div class="about-wrapper">
  <div class="wide-container about-padding">
      <h1> WHO ARE WE? </h1>
      <p> We are a team of Berkeley students with blue paws.<br>
      Because we have blue paws, we make blue "prints" wherever we walk.<br>
      Yes, that means we walk around like dogs do. </p>
  </div>
  <div class="wide-container" id="about-banner">
    <a class="about-button" href="#process"> Our Process </a>
    <a class="about-button" href="#team"> Our Team </a>
    <a class="about-button" href="#story"> Our Story </a>
  </div>
  <div class="about-section border-top">
    <a name="process"></a>
    <h1> OUR PROCESS </h1>
    <h2> CYCLICAL CROWDFUNDING </h2>
  </div>
  <div class="about-section padding">
      <p> This is the process of Elevate Africa. </p>
  </div>
  <div class="about-section border-top">
    <a name="team"></a>
    <h1> OUR TEAM </h1>
    <h2> DEDICATED TO GOOD </h2>
  </div>
  <div class="about-team">
    <div class="about-member" id="about-rachel">
        <div class="about-member-text">
          <h2> Kevin Wu </h2>
          <p> In 2014, Kevin served as the project leader for the Elevate Africa project. He likes to watch Legaue streams and rap. </p>
        </div>
    </div>
  </div>
  <div class="wide-contatiner border-top border-bottom">
      <a name="story"></a>
      <h1> OUR STORY </h1>
      <h2> DOING GREAT THINGS </h2>
    <div class="small-container padding">
    	  <p> This is the story of Elevate Africa. </p>
    </div>
  </div>
</div>
</body>
</html>
