<div class="about-wrapper">

  <div class="wide-container about-padding">
      <h1> WHO ARE WE? </h1>
      <p id="about-description"> We are a team of Berkeley students with blue paws.<br>
      Because we have blue paws, we make blue "prints" wherever we walk.<br>
      Yes, that means we walk around like dogs do. </p>
  </div>
  <div class="wide-container" id="about-banner">
    <a class="button about-button" onclick="smoothScroll('process')"> Our Process </a>
    <a class="button about-button" onclick="smoothScroll('team')"> Our Team </a>
    <a class="button about-button" onclick="smoothScroll('story')"> Our Story </a>
  </div>

  <div class="about-section about-padding" id="process">
    <h1> OUR PROCESS </h1>
    <h2> CYCLICAL CROWDFUNDING </h2>
    <div class="about-process-container">
    </div>
  </div>

  <div class="about-section about-padding" id="team">
    <h1> OUR TEAM </h1>
    <h2> DEDICATED TO GOOD </h2>
    <div class="about-team-container about-padding">

      <div class="about-member-container">
        <img src="<%= asset_path("kevin.jpg") %>" alt="Kevin">
        <div class="about-member-text">
          <h2 class="about-member-name"> Kevin Wu </h2>
          <p class="about-member-content"> 
            This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, waiting to be discovered by some Cal students. Although you might think that this picture isn't correct, it is in fact truly Kevin. There's no mistake here. Blueprint is a racially diverse club. Accept it.
          </p>
        </div>
      </div>

      <div class="about-member-container">
        <img src="<%= asset_path("kevin.jpg") %>" alt="Kevin">
        <div class="about-member-text">
          <h2 class="about-member-name"> Kevin Wu </h2>
          <p class="about-member-content"> 
            This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, waiting to be discovered by some Cal students. Although you might think that this picture isn't correct, it is in fact truly Kevin. There's no mistake here. Blueprint is a racially diverse club. Accept it.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="about-section about-padding" id="story">
      <h1> OUR STORY </h1>
      <h2> DOING GREAT THINGS </h2>
    <div class="small-container about-padding">
    	  <p> 
          This is the story of Elevate Africa. It is one of majesticness unknown to all of mankind, waiting to be discovered by some Cal students.
          Although you might think that this picture isn't correct, it is in fact truly Kevin. There's no mistake here. Accept it.
         </p>
    </div>
  </div>

</div>
