<div class="campaign-wrapper">
  <div class="wide-container" id="campaign-banner">
    <div class="padding" id="campaign-banner-overlay">
      <div class="medium-container campaign-padding padding">
        <h1 data-sr id="campaign-title">Embark on your African Adventure</h1>
        <div id="campaign-buttons">
          <%= link_to "Start Your Campaign", new_team_path, class: "campaign-signin button" %>
          <%= link_to "Check out Campaigns", campaigns_path, class: "campaign-index button" %>
        </div>
      </div>
    </div>
  </div>

  <div class="wide-container border-top padding">
    <div class "medium-container padding">
      <h1 data-sr>More Campaigns</h1>
      <h2 data-sr>Share your special day with us!</h2>
    </div>
    <div class="small-container">
      <p data-sr>Lorem ipsum dolor sit amet, ea vel propriae lucilius erroribus. Ex his nulla posidonium, nostro luptatum constituto at his. Mundi dignissim abhorreant pri no, ei vis admodum explicari.</p>
    </div>
  </div>
  <div class="wide-container">
    <div id="campaign-icon-wrapper">
      <div class="campaign-icon">
        <div data-sr id="campaign-wedding" class="icon-small"></div>
        <p data-sr class="campaign-icon-font">Wedding</p>
      </div>
      <div class="campaign-icon">
        <div data-sr id="campaign-sports"></div>
        <p data-sr class="campaign-icon-font">Sports</p>
      </div>
      <div class="campaign-icon">
        <div data-sr id="campaign-birthday"></div>
        <p data-sr class="campaign-icon-font">Birthday</p>
      </div>
      <div class="campaign-icon">
        <div data-sr id="campaign-question"></div>
        <p data-sr class="campaign-icon-font">Create Your Own!</p>
      </div>
    </div>
  </div>
</div>