<div class="wide-container" id="campaign-banner">
	<div id="campaign-banner-overlay">
	<div class="medium-container padding">
		<h1 id="campaign-title">Embark on your African Adventure</h1>
		<a class="campaign-button" href="#">Start Your Campaign</a>
	</div>
	</div>
</div>

<div class="wide-container border-top padding">
	<div class "medium-container padding">
		<h1>More Campaigns</h1>
		<h2>Share your special day with us!</h2>
	</div>
	<div class="small-container">
		<p>Lorem ipsum dolor sit amet, ea vel propriae lucilius erroribus. Ex his nulla posidonium, nostro luptatum constituto at his. Mundi dignissim abhorreant pri no, ei vis admodum explicari.</p>
	</div>	
</div>
<div class="wide-container padding">
	<div class="campaign-birthday">Birthdays</div>
	<div class="campaign-sports">Sports</div>
	<div class="campaign-wedding">Weddings</div>
	<a class="campaign-button" href="#">Start Your Campaign</a>
</div>




<!-- <div class="wide-container" id="template-banner"></div>
<div class="wide-container padding">
  <div class="medium-container">
    <h1> TITLE ABOUT SOMETHING </h1>
    <h2> EQUALLY IMPORTANT SUBTITLE </h2>
  </div>
  <div class="small-container">
    <p> Hi, I’m Charles. When I’m not busy saving the universe or rescuing cats from burning buildings, I’m a designer and programmer. I’m currently a back-end developer for UC Berkeley College of Engineering’s ResearchMatch internship platform. I’m also a designer for Berkeley’s Blue and Gold yearbook. I love racket sports, board game nights, jamming out on the guitar and piano, and playing video games. Bored? - Go on. Challenge me! </p>
  </div>
</div> -->