<div class="campaign-wrapper">
<div class="wide-container padding">
  <h1 data-sr>We'd love to hear from you</h1>
  <h2 data-sr>QUESTIONS OR COMMENTS?</h2>
</div>

<div class="medium-container" id="contact-email">
  <div id="contact-text">
    <p data-sr>We'd love to hear from you if you are a prospective client, genuine talent looking to become part of Elevate Africa, inquisitive member of the media or just a long-lost friend!</p>
  </div>

  <div data-sr id="contact-info">
    <%= render "static_pages/contact_email" %>
  </div>
</div>

<div data-sr class="wide-container padding" id="contact-mail">
  <h1>Mailing Address</h1>
  <h2>SEND US SOME LOVE!</h2>
</div>

<div data-sr class="medium-container" id="contact-map-container">
  <div id="contact-map">
    <iframe
      width="400px"
      height="400px"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBSi8Rv0CjOOPThZyrK62JYf6z0xySwYp4&q=663+S+Rancho+Santa+Fe+Rd,+Suite+258+San+Marcos,+California+92078">
    </iframe>
  </div>
  <div id="contact-address">
    <p class="contact-address-font">663 S Rancho Santa Fe Rd, Suite 258</p><br>
    <p class="contact-address-font">San Marcos, California 92078</p><br>
    <p class="contact-address-font">(858) 952-1179</p>
  </div>
</div>

<div data-sr class="medium-container" id="contact-connect">
  <h1>Connect with us</h1>
  <h2>Follow us on social media!</h2>
  <div data-sr class="small-container" id="contact-container">
    <div data-sr class="contact-icon" id="contact-twitter" onclick="window.open('https://github.com/chenhoward')"></div>
    <div data-sr class="contact-icon" id="contact-facebook" onclick="window.open('https://github.com/chenhoward')"></div>
    <div data-sr class="contact-icon" id="contact-youtube" onclick="window.open('https://github.com/chenhoward')"></div>
    <div data-sr class="contact-icon" id="contact-instagram" onclick="window.open('https://github.com/chenhoward')"></div>
  </div>
</div>
</div>
