<div class="navbar-spacer"></div>
<div class="wide-container border-bottom">
  <div class="medium-container padding">
    <h1> LIFTING UP LIVES </h1>
    <h2> BY BELIEVING IN PEOPLE </h2>
  </div>
</div>
<div id="home-arrow"></div>
<div class="wide-container" id="home-banner"></div>
<div class="wide-container border-top">
  <div class="medium-container padding">
  </div>
</div>