<!--<div id="navbar">
  <div class="button" id="donate">
    DOLLA$
  </div>
</div>

<div id="banner">
  <p id="header">ELEVATE AFRICA</p>
  <a class="button" id="header-button" href="https://github.com/chenhoward">
    CLICK ME :)
  </a>
</div>

<div id="overlay"></div>-->

<p> Home </p>
