<div class="wide-container" id="template-banner"></div>
<div class="wide-container padding">
  <div class="medium-container">
    <h3> TITLE ABOUT SOMETHING </h3>
    <h4> EQUALLY IMPORTANT SUBTITLE </h4>
  </div>
  <br><br>
  <div class="small-container">
    <p> Hi, I’m Charles. When I’m not busy saving the universe or rescuing cats from burning buildings, I’m a designer and programmer. I’m currently a back-end developer for UC Berkeley College of Engineering’s ResearchMatch internship platform. I’m also a designer for Berkeley’s Blue and Gold yearbook. I love racket sports, board game nights, jamming out on the guitar and piano, and playing video games. Bored? - Go on. Challenge me! </p>
    <input></input>
    <div class="button" id="template-button">Let's Go!</div>
  </div>
</div>