<p>
  <Strong>From:</Strong> <%= params[:'contact-first'] %> <%= params[:'contact-last'] %>
</p>

<p>
  <Strong>Subject: </Strong><%= params[:'contact-subject'] %>
</p>

<p>
  <Strong>Message: </Strong><%= params[:'contact-message'] %>
</p>

