<p>
  <Strong>From:</Strong> <%= @person.first_name %> <%= @person.last_name %>
</p>

<p>
  <Strong>Subject: </Strong><%= @person.subject %>
</p>

<p>
  <Strong>Message: </Strong><%= @person.message %>
</p>

