<% if user.buzzes.blank? %>
  <div id="user-dashboard-no-buzz">
    <h2 class="headline">
      <%= user.name %> doesn't have any recent posts!
    </h2>
  </div>
<% else %>
  <div id="user-dashboard-some-buzz">
    <h2 class="headline">Recent Posts</h2>
    <% user.buzzes.limit(5).each do |buzz| %>
      <div class="user-dashboard-buzz-container">
        <% if buzz.picture? %>
          <div style="background-image: url(<%= buzz.picture_url %>)" class="user-dashboard-buzz-image"></div>
        <% else %>
          <div style="background-image: url(<%= asset_path("buzz.JPG") %>)" class="user-dashboard-buzz-image"></div>
        <% end %>

        <h1 class="user-dashboard-buzz-headline"><%= buzz.headline %></h1>
      </div>
    <% end %>
  </div>
<% end %>

