<div class="wide-container footer-wrapper">
  <div class="footer-table">
	<ul class="footer-col footer-third">
	  <li><p>Hello</p></li>
	  <li><p>Hello</p></li>
	  <li><p>Hello</p></li>
	</ul>
	<ul class="footer-col footer-third">
	  <li><p>Hello</p></li>
	  <li><p>Hello</p></li>
	  <li><p>Hello</p></li>
	</ul>
	<ul class="footer-col footer-third">
	  <li><p>Hello</p></li>
	  <li><p>Hello</p></li>
	  <li><p>Hello</p></li>
	</ul>
  </div>
</div>