<div class="wide-container footer-wrapper">
  <div class="wide-container footer-wrapper">
  <div class="footer-top">
    <img id="footer-africa-icon" src="<%= asset_path("footer_africa.png") %>"/>
    <p>All rights reserved by Elevate Africa, a nonprofit helping end the cycle of poverty in Africa.</p>
    <p>Website designed and created by team of students from Cal Blueprint.</p>
    <img src="<%= asset_path("footer_fancy.png") %>"/>
  </div>
  <div class="footer-bottom">
    <div class="footer-table">
      <div class="footer-col"><a href="#">Elevate Africa</a></div>
      <div class="footer-col"><a href="#">Campaign Help</a></div>
      <div class="footer-col"><a href="#">Terms of Use</a></div>
    </div>
  </div>
</div>
<!--   <div class="footer-table">
  	<ul class="footer-col footer-third">
  	  <li><p>connect</p></li>
  	</ul>
  	<ul class="footer-col footer-third">
  	  <li><p>about</p></li>
  	</ul>
  	<ul class="footer-col footer-third">
  	  <li><p>yay</p></li>
  	</ul>
  	<hr>
  </div>
  <div class="footer-extra">
  	<p>powered by blueprint </p>
  	<img id="footer-blueprint" src="" onclick="blueprintRotate()">
  </div>
</div> -->
