<div class="wide-container footer-wrapper">
  <div class="footer-table">
	<ul class="footer-col footer-third">
	  <li><p>connect</p></li>
	</ul>
	<ul class="footer-col footer-third">
	  <li><p>about</p></li>
	</ul>
	<ul class="footer-col footer-third">
	  <li><p>yay</p></li>
	</ul>
	<hr>
  </div>
  <div class="footer-extra">
  	<p>powered by blueprint </p>
  	<img id="footer-blueprint" src="<%= asset_path("cal_blueprint.png") %>" onclick="blueprintRotate()">
  </div>
</div>