<div class="wide-container footer-wrapper">
  <div class="wide-container footer-wrapper">
  <div class="footer-top">
    <p>All rights reserved by Elevate Africa and Blueprint.</p>
    <img src="<%= asset_path("footer_fancy.png") %>"/>
  </div>
  <div class="footer-bottom">
    <div class="footer-table">
      <ul class="footer-col">Elevate Africa</ul>
      <ul class="footer-col">Campaign Help</ul>
      <ul class="footer-col">Terms of Use</ul>
    </div>
  </div>
</div>
<!--   <div class="footer-table">
  	<ul class="footer-col footer-third">
  	  <li><p>connect</p></li>
  	</ul>
  	<ul class="footer-col footer-third">
  	  <li><p>about</p></li>
  	</ul>
  	<ul class="footer-col footer-third">
  	  <li><p>yay</p></li>
  	</ul>
  	<hr>
  </div>
  <div class="footer-extra">
  	<p>powered by blueprint </p>
  	<img id="footer-blueprint" src="" onclick="blueprintRotate()">
  </div>
</div> -->
