<div id="navbar-container" onmouseover="navReveal()" onmouseout="navHide()">
  <div class="hide-medium" id="navbar">
    <a id="home" href="#"></a>
    <a class="tab highlight" href="#"> DONATE </a>
    <a class="tab" href="#"> CONTACT </a>
    <a class="tab" href="#"> BUZZ </a>
    <a class="tab" href="#"> CAMPAIGN </a>
    <a class="tab" href="#"> ABOUT </a>
  </div>
</div>
<div class="navbar-spacer hide-medium"></div>