<div id="campaigns-create-background">
  <div class="small-container padding">
    <div class="campaigns-create-header"></div>
    <div class="campaigns-create-body">
      <h4 id="campaigns-create-title">New Donation</h4>
      <%= render "donation_form" %>
    </div>
  </div>
</div>
