<div class="medium-container padding">
  <% if @campaign %>
    <h4 id="campaigns-create-title">New Donation</h4>
    <%= render "campaign_donation_form" %>
  <% else %>
    <h4 id="campaigns-create-title">New Donation</h4>
    <%= render "general_donation_form" %>
  <% end %>
</div>
