<div class="wide-container" id="buzz-banner">
  <div id="buzz-black-cover">
    <div id="buzz-title-container">
      <h1 id="buzz-title">HELLA BUZZ YO</h1>
      <h2 id="buzz-button">Check it out!</h2>
    </div>
  </div>
</div>

<div id="buzz-headline-container">
  <% if valid_admin? %>
    <h2><%= link_to "Create", new_buzz_path, id: "buzz-create-button" %><h2>
  <% end %>
  <h2 id="buzz-headline">What We're Up To</h2>
</div>

<% @buzzes.each do |buzz| %>
  <%= link_to "#{buzz.headline}", buzz_path(buzz) %>
<% end %>
