<div id="buzz-index"></div>
<div class="wide-container">
  <div class="padding">
    <h1 class="black">The Buzz</h1>
  </div>
</div>
<div id="buzz-index-container">
  <div id="buzz-headline-container">
    <h2 class="buzz-headline">
      <% if valid_admin? %>
        <span>
          <i>
            <%= link_to "", new_buzz_path, class: "fa fa-plus-square buzz-icon-button" %>
          </i>
        </span>
      <% end %>
    </h2>
  </div>

  <div id="buzz-index-posts-container">
    <% if !@buzzes.blank? %>
      <div id="buzz-box-container">
        <%= render @buzzes  %>
      </div>
    <% else %>
      <h2 id="buzz-empty">There's nothing here, come back later!</h2>
    <% end %>
  </div>
  <div id='buzz-load-container'>
    <%= link_to "Load More!", "#", class: 'button', id: 'buzz-load-more' %>
  </div>
  <div id="buzz-infinite-scrolling">
    <%= paginate @buzzes %>
  </div>
</div>
