<div class="wide-container" id="buzz-banner">
  <div id="buzz-black-cover">
    <h1 id="buzz-title">HELLA BUZZ YO</div>
  </div>
 </div>

<div class="wide-container padding">
  <% if valid_admin? %>
    <%= link_to "Create Blog Post", new_buzz_path %>
  <% end %>
</div>
<% @buzzes.each do |buzz| %>
  <%= link_to "#{buzz.headline}", buzz_path(buzz) %>
<% end %>
