<div id="buzz-index"></div>
<div class="wide-container" id="buzz-banner">
  <div id="buzz-black-cover">
    <div id="buzz-title-container">
      <h1 id="buzz-title">HELLA BUZZ YO</h1>
      <h2 id="buzz-button" class="button">Check it out!</h2>
    </div>
  </div>
</div>

<div id="buzz-index-container">
  <div id="buzz-headline-container">
    <h2 id="buzz-headline">
      What We're Up To
      <% if valid_admin? %>
        <span>
          <i>
            <%= link_to "", new_buzz_path, class: "fa fa-plus-square buzz-icon-button" %>
          </i>
        </span>
      <% end %>
    </h2>
  </div>

  <div id="buzz-index-posts-container">
    <% if !@buzzes.blank? %>
      <%= render @buzzes  %>
    <% else %>
      <h2 id="buzz-empty">There's nothing here, come back later!</h2>
    <% end %>
  </div>
  <div id='buzz-load-container'>
    <%= link_to "Load More!", "#", class: 'button', id: 'buzz-load-more' %>
  </div>
  <%= paginate @buzzes %>
</div>
