<div class="campaign-index-content-container">
  <% if !campaign.picture_url.nil? %>
    <div style="background-image: url(<%=campaign.picture_url%>)" class="campaign-index-image"></div>
  <% else %>
    <div class="campaign-index-image default"></div>
  <% end %>
  <h2 class="campaign-index-title"><%= campaign.name %></h2>
  <p class="campaign-index-content">
    <%= campaign.description.truncate 280 %>
  </p>
  <div class="campaign-progress-bar-container">
    <h2 class="campaign-index-days-container">
      <span class="campaign-index-progress">90</span>days
    </h2>
    <div id="bar-<%= campaign.id %>" class="campaign-index-bar"></div>
  </div>
</div>
