<div id="campaigns-create-background">
  <div class="small-container campaigns-create-padding">
    <div class="campaigns-create-header">
      <div class="campaigns-create-tab campaigns-create-tab-colored" id="campaigns-create-tab-one">
        <span class="campaigns-create-tab-number">1.</span>
        <span>Campaign Basics</span>
      </div>
      <div class="campaigns-create-tab" id="campaigns-create-tab-two">
        <span class="campaigns-create-tab-number">2</span>
        <span>Campaign Description</span>
      </div>
      <div class="campaigns-create-tab" id="campaigns-create-tab-three">
        <span class="campaigns-create-tab-number">3</span>
        <span>Campaign Photo</span>
      </div>
      <% if !current_user %>
        <div class="campaigns-create-tab" id="campaigns-create-tab-four">
          <span class="campaigns-create-tab-number">3</span>
          <span>Sign Up</span>
        </div>
      <% end %>
    </div>
    <div class="campaigns-create-body">
      <%= render "campaign_form" %>
    </div>
    <div id="campaigns-create-missing-picture-container">
      <div class="campaigns-create-sub-header">
        We need a photo!
        <img class="campaigns-create-sub-header-close" src="<%= asset_path("close_button.png") %>" id="campaigns-create-sub-header-close-missing"/>
        <hr>
      </div>
      Want to upload your own?
      <div class="campaigns-create-missing-button" id="campaigns-create-missing-button-random">Random</div>
      <div class="campaigns-create-missing-button" id="campaigns-create-missing-button-upload">Upload</div>
    </div>
  </div>
</div>
<div id="campaigns-create-white-fade"></div>

