<div id="campaigns-create-background">
  <div class="small-container padding">
    <div class="campaigns-create-header"></div>
    <div class="campaigns-create-body">
      <h4>New Campaign</h4>
      <%= render "campaign_form" %>
    </div>
  </div>
</div>
