@import "variables.css.scss";

body {
  margin: 0;
  padding: 0;
  color: $black;
}

h1, h2, h3, h4, h5, h6, p, a, input, button {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  color: $black;
}

* {
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  height: 69px;
  background: #fff;
  border-bottom: 1px solid $light-gray;
}

#navbar-container {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 130px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-spacer {
  width: 100%;
  height: 69px;
}

h1 {
  font: $h1;
  letter-spacing: 4px;
  line-height: 84px;
  color: $primary-color;
}

h2 {
  font: $h2;
  color: $dark-gray;
}

p {
  font: $p;
}

#home {
  position: fixed;
  left: 0;
  top: 0;
  width: 182px;
  height: 130px;
  background: url(asset_path("logo-horizontal.svg"));
  background-size: cover;
}

.tab {
  float: right;
  display: block;
  margin: 10px;
  padding: 15px 20px 15px 20px;
  font: $h2;
  font-size: 16px;
  font-weight: 700;
  color: $light-gray;
}

.tab:hover {
  color: $dark-gray;
}

.highlight {
  background: $primary-color;
  padding: 15px 26px 15px 26px;
  color: #fff;
}

.highlight:hover {
  background: $secondary-color;
  color: #fff;
}

.wide-container, .medium-container, .small-container {
  display: block;
  text-align: center;
  margin: auto;
}

.wide-container {
  width: 100%;
}

.medium-container {
  width: 1000px;
}

.small-container {
 width: 600px;
}

.padding {
  padding: 100px 25px 100px 25px;
}

.border-top {
  border-top: 5px solid $secondary-color;
}

.border-bottom {
  border-bottom: 5px solid $secondary-color;
}

@media (max-width: 1000px) {
  .medium-container {
    width: 100%;
  }

  .hide-medium {
    display: none;
  }
}

@media (max-width: 600px) {
  .small-container {
    width: 100%;
  }

  .hide-small {
    display: none;
  }
}