@import "variables.css.scss";

body {
  margin: 0;
  padding: 0;
  color: $black;
}

h1, h2, h3, h4, h5, h6, p, a, input, button {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  color: $black;
}

* {
  box-sizing: border-box;
}

h1 {
  font: $h1;
  letter-spacing: 4px;
  line-height: 84px;
  color: $primary-color;
}

h2 {
  font: $h2;
  color: $dark-gray;
}

p {
  font: $p;
}

.wide-container, .medium-container, .small-container {
  display: block;
  text-align: center;
  margin: auto;
}

.wide-container {
  width: 100%;
}

.medium-container {
  width: 1000px;
}

.small-container {
 width: 600px;
}

.padding {
  padding: 100px 25px 100px 25px;
}

.border-top {
  border-top: 5px solid $secondary-color;
}

.border-bottom {
  border-bottom: 5px solid $secondary-color;
}

.show-medium, .show-small {
  display: none;
}

@media (max-width: 1000px) {
  .medium-container {
    width: 100%;
  }

  .hide-medium {
    display: none;
  }

  .show-medium {
    display: initial;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 84px;
    line-height: 72px;
  }

  h2 {
    font-size: 36px;
    line-height: 42px;
  }

  .small-container {
    width: 100%;
  }

  .hide-small {
    display: none;
  }

  .show-small {
    display: initial;
  }
}