/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}

#about-banner {
  background: url(asset_path("elephants.jpg"));
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top: -50px;
  padding-top: 150px;

  // -webkit-box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  // -moz-box-shadow:    inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  // box-shadow:         inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

#about-rachel {
  background: url(asset_path("kevin.jpg"));
  background-size: 320px 240px;
  background-repeat: no-repeat;
  float: left;
  margin-left: 300px;
}

#about-description {
  padding-top: 0px;
  padding-bottom: 36px;
}

.about-button {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  border-radius: 4px;
  margin: 0 15px;

  &:hover {
    background: $tertiary-color;
    color: #fff;
  }
}

.about-padding {
  padding: 36px 36px;
}

.about-wrapper {
  margin-left: auto;
  margin-right : auto;
  // -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  // -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  // box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.about-section {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 0px;
}

.about-team {
  width: 100%;
  height: 500px;
  display: block;
}

.about-member {
  height: 200px;
  width: 900px;
  display: inherit;
  margin-bottom: 50px;
}

.about-member-text {
  height: 200px;
  width: 350px;
  display: block;
  float: left;
  margin-left: 350px;
  text-align: left;
}

.about-member-name {
  font: 400 36px Lato;
  color: #666666;
}

.about-member-content {
  font: 16px Bitter, sans-serif;
  color: #666666;
}




