/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}

#about-description {
  padding-top: 0px;
  padding-bottom: 36px;
}

#about-banner {
  background: url(asset_path("elephants.jpg"));
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top: -50px;
  padding-top: 160px;

  // -webkit-box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  // -moz-box-shadow:    inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  // box-shadow:         inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.about-wrapper {
  margin-left: auto;
  margin-right : auto;
  // -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  // -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  // box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.about-button {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  border-radius: 4px;
  margin: 0 20px;

  &:hover {
    background: $tertiary-color;
    color: #fff;
  }
}

.about-section {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
}

.about-section-team {
  width: 100%;
  display: block;
  text-align: center;
  margin: -230px auto 0px auto;
}

.about-padding {
  padding: 36px 36px;
}

.about-process-container {
  width: 100%;
  text-align: center;
}
.about-process-image {
  padding-top: 36px;
  display: inline;
  position: relative;
}

.about-process-texts {
  width: 100%;
  top: -340px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.about-process-text {
  width: 210px;
  height: 210px;
  margin: auto;
  opacity: 0;
}

.about-team-container {
  width: 100%;
  height: 500px;
  display: block;
  text-align: center;
}

.about-member-container {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  display: block;
  text-align: center;
}

.about-member-text {
  height: 180px;
  width: 360px;
  display: inline-block;
  padding-left: 15px;
  text-align: left;
}

.about-member-name {
  font: 400 36px Lato;
  color: #666666;
}

.about-member-content {
  font: 16px Bitter, sans-serif;
  color: #666666;
}




