/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}

#about-banner {
  background: linear-gradient(
      rgba(0, 0, 0, 0.05), 
      rgba(0, 0, 0, 0.05)
    ), url(asset_path("elephants.jpg"));
  background-size: cover;
  background-position: center;

  height: 425px;
  padding-top: 192.5px;
  margin-bottom: 36px;
}

.about-button {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  border-radius: 4px;
  margin: 0 25px;

  &:hover {
    background: $tertiary-color;
    color: #fff;
  }
}

.about-section {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
}

.about-section-team {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: -228px;
}

.about-padding {
  padding: 36px 36px;
}

.about-process-container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 36px;
}

.about-process-circle {
  position: relative;
  width: 30em;
  height: 30em;
  padding: 1.4em;
  margin: 1.75em auto 0;

  .about-process-icon {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 6em; height: 6em;
    margin: -3em;
    img {
      display: block;
      width: 100%;
    }
  }

  .about-process-arrow {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 2em; height: 3em;
    margin: -1.25em;
  }
}

.icon-one { transform: rotate(-67.5deg) translate(15em) rotate(67.5deg); }
.icon-two { transform: rotate(-22.5deg) translate(15em) rotate(22.5deg); }
.icon-three { transform: rotate(22.5deg) translate(15em) rotate(-22.5deg); }
.icon-four { transform: rotate(67.5deg) translate(15em) rotate(-67.5deg); }
.icon-five { transform: rotate(112.5deg) translate(15em) rotate(-112.5deg); }
.icon-six { transform: rotate(157.5deg) translate(15em) rotate(-157.5deg); }
.icon-seven { transform: rotate(202.5deg) translate(15em) rotate(-202.5deg); }
.icon-eight { transform: rotate(247.5deg) translate(15em) rotate(-247.5deg); }

.arrow-one { transform: translate(15em); }
.arrow-two { transform: rotate(45deg) translate(15em); }
.arrow-three { transform: rotate(90deg) translate(15em); }
.arrow-four { transform: rotate(135deg) translate(15em); }
.arrow-five { transform: rotate(180deg) translate(15em); }
.arrow-six { transform: rotate(225.5deg) translate(15em); }
.arrow-seven { transform: rotate(270deg) translate(15em); }
.arrow-eight { transform: rotate(315deg) translate(15em); }

.about-process-girl-left {
    position: absolute;
    left: -75.0%;
}

.about-process-girl-right {
    position: absolute;
    left: 125.0%;
    transform: scaleX(-1);
}

.about-process-square {
  width: 100%;
  top: -350px;
  margin: auto;
  position: relative;
  z-index: -1;
}

.about-process-text {
  width: 275px;
  height: 275px;
  margin: auto;
  opacity: 1;
}

.about-team-container {
  width: 100%;
  display: block;
  text-align: center;
}

.about-member-container {
  width: 100%;
  margin-top: 32px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.about-member-text-right {
  width: 360px;
  height: 180px;
  display: inline-block;
  margin-left: 32px;
  text-align: left;
  vertical-align: top;
}

.about-member-text-left {
  width: 360px;
  height: 180px;
  display: inline-block;
  margin-right: 32px;
  text-align: left;
  vertical-align: top;
}

.about-member-name {
  font: 200 32px Lato;
  color: $dark-gray;
}

.about-member-title {
  font: 200 20px Lato;
  color: $dark-gray;
}

.about-member-content {
  font: 14px Bitter, sans-serif;
  line-height: 1.75;
  color: $dark-gray;
}