/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

#campaigns-adventure-background {
  width: 666px;
  height: 500px;
  background: url(asset_path("egypt_background.png"));
  background-position: 0 0;
  float: left;
}

#campaigns-adventure-foreground {
  width: 666px;
  height: 500px;
  background: url(asset_path("egypt_foreground.png"));
  background-position: 0 0;
  float: left;

  position: relative;
  z-index: 1;
  top: -500px;
}

#campaigns-adventure-team {
  width: 200px;
  height: 200px;
  position: relative;
  top: -125px;
  left: 50px;
  overflow: hidden;

  transform-origin: 50% 100%;
  transition: all 1s ease-in-out;
}

.campaigns-adventure-team-hide {
  transform: scale(0);
}

.campaigns-adventure-team-show {
  transform: scale(1);
}

#campaigns-adventure-vehicle {
  width: 300px;
  height: 300px;
  position: relative;
  top: 200px;
}

#campaigns-adventure-vehicle-body {
  width: 200px;
  height: 200px;
  position: relative;
  top: 107px;
}

.campaigns-adventure-swing {
  -webkit-animation: boat .75s alternate infinite ease-in-out;
}

@-webkit-keyframes boat {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(-5deg); }
}

.campaigns-adventure-wheel {
  width: 50px;
  height: 50px;
}

.campaigns-adventure-wheel-rolling {
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

#campaigns-adventure-wheel-left {
  position: relative;
  top: 77px;
  left: -26px;
}

#campaigns-adventure-wheel-right {
  position: relative;
  top: 77px;
  left: 28px;
}

@media (max-width: 1000px) {
  /* fill in :-( */
}

@media (max-width: 600px) {
  /* fill in :-( */

}
