/* Import the variables for the general theme */
@import "variables.css.scss";

/*
  Buzz Index Page
*/

#buzz-banner {
  background: url(asset_path("buzz.JPG"));
  background-size: cover;
  background-position: center;
  height: 600px;
}

#buzz-black-cover {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

#buzz-title-container {
  padding-top: 180px;
}

#buzz-title {
  text-align: center;
  color: white;
}

#buzz-button {
  margin-top: 60px;
  display: inline-block;
  background-color: $primary-color;
  text-align: center;
  padding: 15px 50px;
  font: $h2;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

#buzz-headline-container {
  margin-top: 50px;
}

#buzz-headline {
  text-align: center;
  margin-bottom: 30px;
}

.buzz-icon-button:hover {
  color: $dark-gray;
}

.buzz-box-1 {
  float:left;
  width: 25%;
  height: 360px;
}

.buzz-box-2 {
  float:left;
  width: 50%;
  height: 360px;
}

.buzz-box-3 {
  float:left;
  width: 75%;
  height: 360px;
}

.buzz-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.buzz-info-container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

.buzz-image:hover .buzz-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.buzz-image:hover .buzz-info {
  display: block;
  animation: fadeInFromLeft 0.5s;
  -webkit-animation: fadeInFromLeft 0.5s;
  -moz-animation: fadeInFromLeft 0.5s;
  -ms-animation: fadeInFromLeft 0.5s;
  position: absolute;
  // top: 50%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-left: 20px;
}


.buzz-background {
  display: none;
}

.buzz-info {
  display: none;
}

.buzz-headline {
  color: white;
  vertical-align: center;
  font-size: 75px;
  line-height: 70px;
}

.buzz-show {
  color: black;
}

#buzz-empty {
  text-align: center;
  padding: 50px 0px;
}

/*
  Buzz Show Page
*/

#buzz-show-banner {
  background-size: cover;
  background-position: center;
  height: 600px;
}

#buzz-show-headline {
  text-align: center;
  font-size: 150px;
  line-height: 125px;
}

#buzz-show-subhead {
  text-align: center;
  padding-top: 20px;
  font-size: 75px;
}

#buzz-show-tag {
  text-align: center;
  padding-top: 10px;
  font-family: Lato, sans-serif;
  font-size: 20px;
}

#buzz-share-icons {
  text-align: center;
  padding-top: 10px;
}

#buzz-twitter {
  color: rgba(0, 172, 237, 1);
}

#buzz-facebook {
  color: rgba(59, 89, 153, 1);
}

#buzz-google {
  color: rgba(211, 72, 54, 1);
}

#buzz-twitter:hover {
  opacity: 0.7;
}

#buzz-facebook:hover {
  opacity: 0.7;
}

#buzz-google:hover {
  opacity: 0.7;
}

#buzz-show-title-container {
  padding-top: 50px;
}

#buzz-show-content-container {
  padding: 50px 25px 50px 25px;
  width: 75%;
  height: auto;
  margin: auto;
}

#buzz-show-content {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

#buzz-edit-buttons {
  text-align: center;
  color: black;
  margin-top: 10px;
}

.buzz-line-separator {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

#buzz-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 0 auto;
}

#buzz-video iframe,
#buzz-video object,
#buzz-video embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

#buzz-show-recommended {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 500px;
}

#buzz-show-recommended-title {
  text-align: center;
  color: $black;
  padding-top: 20px;
}

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}
