/* Import the variables for the general theme */
@import "variables.css.scss";

/*
  Buzz Index Page
*/

#buzz-banner {
  background: url(asset_path("buzz.JPG"));
  background-size: cover;
  background-position: center;
  height: 600px;
}

#buzz-black-cover {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

#buzz-title-container {
  padding-top: 180px;
}

#buzz-title {
  text-align: center;
  color: white;
}

#buzz-button {
  margin-top: 60px;
  display: inline-block;
  background-color: $primary-color;
  text-align: center;
  padding: 15px 50px;
  font: $h2;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

#buzz-headline-container {
  margin-top: 50px;
}

#buzz-headline {
  text-align: center;
  margin-bottom: 30px;
}

.buzz-icon-button:hover {
  color: $dark-gray;
}

.buzz-box-1 {
  float:left;
  width: 25%;
  height: 360px;
}

.buzz-box-2 {
  float:left;
  width: 50%;
  height: 360px;
}

.buzz-box-3 {
  float:left;
  width: 75%;
  height: 360px;
}

.buzz-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.buzz-info-container {
  display: none;
  width: 100%;
  height: 100%;
}

.buzz-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.buzz-info {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  padding-left: 20px;
}

.buzz-headline {
  color: white;
  vertical-align: center;
}

.buzz-show {
  color: black;
}

.buzz-box-1:hover .buzz-info-container {
  display: block;
  position: relative;
}

.buzz-box-2:hover .buzz-info-container {
  display: block;
  position: relative;
}

.buzz-box-3:hover .buzz-info-container {
  display: block;
  position: relative;
}
/*
  Buzz Show Page
*/

#buzz-show-banner {
  background-size: cover;
  background-position: center;
  height: 600px;
}

#buzz-show-headline {
  color: white;
  text-align: center;
  font-size: 200px;
}

#buzz-show-subhead {
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 80px;
}

#buzz-show-title-container {
  padding-top: 200px;
}

#buzz-show-content-container {
  padding: 50px 25px 50px 25px;
  width: 75%;
  height: auto;
  margin: auto;
}

#buzz-show-content {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

#buzz-edit-buttons {
  text-align: center;
  color: black;
  margin-top: 10px;
}

#buzz-line-separator {
  margin: 10px auto;
  width: 50%;
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

#buzz-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 0 auto;
}

#buzz-video iframe,
#buzz-video object,
#buzz-video embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}
