/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}

#campaigns-create-background {
  background: url(asset_path("campaigns_form.jpg"));
  background-size: cover;
  background-position: center;

  height: 875px;
}

.campaigns-create-header {
  display: block;
  text-align: center;
  margin: auto;
  width: 450px;
  height: 50px;

  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #EEEEEE;
  padding: 24px 18px;
}

.campaigns-create-body {
  display: block;
  text-align: center;
  margin: auto;
  width: 450px;

  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
  padding: 24px 18px;
}

.campaigns-create-field {
  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  border-radius: 4px;
  height: 75px;

  margin-top: 24px;

  label {
    font: Bitter;
    font-size: 18px;
    float: left;
    padding: 10px 0 2px 12px;
  }

  #campaign_name, #campaign_goal, #campaign_description, #campaign_deadline {
    padding: 0px 12px;
    margin: 0 0;
    border: none;

    font: lighter 24px Lato, sans-serif;
    color: $dark-gray;
  }
}

.campaigns-create-button {
  padding: 0 0;
  border-radius: 4px;
  margin: 24px 0 0 0;
  height: 75px;
  display: inline-block;

  font: bold 36px Lato, sans-serif;

  background: $primary-color;
  color: #fff;
  border: none;

  &:hover {
    cursor: pointer;
    background: $secondary-color;
  }
}
