/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

.campaign-info-wrapper {
  width: 1000px;
  height: 600px;
}

.campaign-info-container {
  width: 300px;
  height: 80px;
}

.campaign-numbers-font {
  font: $p;
  text-align: center;
  font-size: 23px;
  float: left;
  margin-right: 5px;
}

#campaign-info-button {
  width: 300px;
  height: 100px;
}

#campaign-adventure {
  width: 666px;
  height: 500px;
  background: #333333;
  float: left;
}

#campaign-by-names {
  width: 200px;
  float: right;
}

#campaign-by-font {
  font: $p;
  color: $black;
  text-align: center;
  font-size: 25px;
}

#campaign-owner-font {
  font: $h1;
  color: $primary-color;
  text-align: center;
  font-size: 45px;
}

#campaign-info {
  width: 319px;
  height: 600px;
  float: left;
  margin-left: 15px;
}

#campaign-donation {
  font: $h1;
  color: $primary-color;
  text-align: center;
  font-size: 75px;
}

#campaign-picture {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background: url(asset_path("member_one.png"));
  background-size: cover;
  margin-left: 15px;
  float: left;
}

.campaign-info-margin {
  margin-top: 11px;
}

#campaign-progress-container {
  height: 120px;
}

#campaign-total {
  font: $p;
  color: $black;
  text-align: center;
  font-size: 20px;
}

#campaign-progress {
  width: 300px;
  height: 120px;
  background: $light-gray;
}

.campaign-detail {
  width: 190px;
  margin: auto;
}

#campaign-donation-usd {
  font-size: 10px;
}

.campaign-vectors {
  width: 30px;
  height: 30px;
  background: url(asset_path("campaign-people.png"));
  background-size: cover;
  float: left;
  margin-top: 15px;
}

#campaign-clock {
  background: url(asset_path("campaign-clock.png"));
  background-size: cover;
}

.campaign-numbers {
  height: 30ppx;
  float: left;
  margin-top: 20px;
  margin-left: 25px;
}

#campaign-donate-button {
  height: 60px;
  width: 300px;
  padding-top: 18px;
  background: $primary-color;
  font: $h2;
  font-size: 20px;

}

#campaign-numbers-font-yellow {
  color: $primary-color;
}

#campaign-money-container {
    height: 110px;
}

@media (max-width: 1000px) {
  /* fill in :-( */
}

@media (max-width: 600px) {
  /* fill in :-( */

}