@import "variables.css.scss";

#campaign-donation-container {
  width: 100%;
  height: 800px;
  background-image: url(asset_path("safari_background.png"));
  background-size: cover;
  background-position: center;
  background-repeat:repeat-x;
  animation: move 500000s linear infinite;
  -webkit-animation: move 500000s linear infinite;
  -moz-animation: move 500000s linear infinite;

}

#campaign-donation-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(asset_path("safari_foreground.png"));
  background-size: cover;
  background-position: center;
  z-index: 0;
  animation: move 500000s linear infinite;
  -webkit-animation: move 500000s linear infinite;
  -moz-animation: move 500000s linear infinite;
}

@-webkit-keyframes move {
  0%   { background-position-x: 0; }
  100% { background-position-x: -10000000px; }
}

@-moz-keyframes move {
  0%   { background-position-x: 0; }
  100% { background-position-x: -10000000px; }
}

@keyframes move {
  0%   { background-position-x: 0; }
  100% { background-position-x: 100%; }
}

#campaign-donation-content-container {
  width: 50%;
  float: right;
  position: relative;
  z-index: 2;
}

#campaign-donation-form {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
}

#campaign-donation-title {
  text-align: center;
  font-size: 50px;
}

#campaign-donation-subtitle {
  text-align: center;
}

#campaign-donation-name {
  border: 5px solid #FFF3E7;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#campaign-donation-amount-container {
  margin: 0 auto;
  width: 90%;
  height: 121px;
  position: relative;
}

#campaign-donation-font {
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: $primary-color;
}

#campaign-donation-dollar-sign {
  @extend #campaign-donation-font;
  width: 8%;
  float: left;
  font-size: 40px;
  padding-top: 10px;
  padding-left: 5px;
}

#donate-amount {
  @extend #campaign-donation-font;
  width: 90%;
  height: 10%;
  margin: 0 auto;
  padding: 0px;
  padding-left: 10px;
  border: 5px solid #FFF3E7;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-size: 75px;
  float: left;
}

.donation_amount {
  width: 90%;
}

#campaign-donation-usd {
  @extend #campaign-donation-font;
  width: 10%;
  height: 10%;
  color: $dark-gray;
  right: 0;
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
}

#campaign-donation-slider {
  width: 90%;
  margin: 0px auto;
  margin-top: -10px;
  margin-bottom: 40px;
}

