/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}

#campaigns-create-background {
  background: url(asset_path("campaigns_form.jpg"));
  background-size: cover;
  background-position: center;

  height: 875px;
}

.campaigns-create-header {
  display: block;
  text-align: center;
  margin: auto;
  width: 450px;
  height: 50px;

  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #EEEEEE;
  padding: 24px 18px;
}

.campaigns-create-body {
  display: block;
  text-align: center;
  margin: auto;
  width: 450px;

  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
  padding: 24px 18px;

  #campaigns-create-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.campaigns-create-field {
  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  border-radius: 4px;

  padding: 10px 10px;
  margin-bottom: 24px;

  label {
    font: normal 14px Bitter;
    float: left;
    padding: 0 0 2px 0;
  }

  #campaign_name, #campaign_goal, #campaign_description, #campaign_deadline {
    padding: 0 0;
    margin: 0 0;
    border: none;

    font: lighter 20px Lato, sans-serif;
    color: $dark-gray;
  }

  #campaign_description {
    height: 200px;
  }
}

.campaigns-create-button {
  padding-top: 3.5%;
  border-radius: 4px;
  width: 100%;
  height: 75px;
  display: inline-block;
  margin: 0 0;

  font: bold 36px Lato, sans-serif;

  background: $primary-color;
  color: #fff;
  border: none;

  &:hover {
    cursor: pointer;
    background: $secondary-color;
  }
}

.campaigns-create-example-buttons-container {
  width: 100%;
  height: 50px;
  margin: 18px 0;
}

.campaigns-create-example-button {
  width: 30%;
  height: 50px;
  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;

  display: inline-block;
  float: left;

  padding-top: 3.5%;
  font: normal 14px Bitter;
  color: #CCCCCC;

  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.campaigns-create-example-colored {
  border-color: $primary-color;
  color: $primary-color;
}

#campaigns-create-example-one, #campaigns-create-example-two {
  margin-right: 5%;
}

.campaigns-create-picture-buttons-container {
  width: 100%;
  height: 62.5px;
  margin: 18px 0;
}

.campaigns-create-picture-button {
  width: 47.5%;
  height: 62.5px;
  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;

  display: inline-block;
  float: left;

  padding-top: 3.5%;
  font: normal 20px Bitter;
  color: $primary-color;

  &:hover {
    cursor: pointer;
  }
}

#campaigns-create-hidden-upload {
  height: 0px;
  overflow: hidden;
}

#campaigns-create-preview {
  width: 50%;
}

#campaigns-create-picture-upload {
  margin-right: 5%;
}
