/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}

.campaigns-wrapper {
  table {
    margin: auto auto;

    th {
      width: 25%;
    }
  }
}
/* Campaign creation forms */

#campaigns-create-background {
  background: url(asset_path("campaigns_form.jpg"));
  background-size: cover;
  background-position: center;

  height: 1000px;
}

.campaigns-create-box {
  display: block;
  text-align: center;
  margin: auto;
  width: 450px;

  border-radius: 5px;
  background-color: white;
  padding: 16px 16px;
}

.campaigns-create-button {
  padding: 0 0;
  border-radius: 5px;
  margin: 0 0;
  height: 80px;
  display: inline-block;

  font: Lato;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;

  background: $primary-color;
  color: #fff;
  border: none;

  h4 {
    font: $h2;
    font-size: 34px;
    color: $dark-gray;
  }

  &:hover {
    cursor: pointer;
    background: $secondary-color;
  }
}

/* Campaign Index */

#campaign-index-slider {
  margin-top: -20px;
  width: 100%;
}

#slide {
  background: url(asset_path("buzz.JPG"));
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 0px;
}

#campaign-index-campaigns {
  padding-bottom: 100px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}


.campaign-view {
  border: 2px solid $light-gray;
  float: left;
  width: 25%;
  height: 600px;
  margin: 20px auto;
  padding: 0px 20px;
}

.campaign-go-to {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

