/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/


#campaign-banner {
  background: url(asset_path("campaign-banner.jpg"));
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: -49px;
}

#campaign-banner-overlay {
  background: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: -49px;
}

#campaign-title {
  color: #ffffff;
  margin-top: 43px;
}

#campaign-buttons {
  margin-top: 20px;
}

.campaign-signin {
  margin-right: 25px;
  margin-bottom: 50px;
}

.campaign-index {
  margin-left: 25px;
  margin-bottom: 50px;

}

.campaign-icon {
  float: left;
  width: 275px;
  height: 273px;
  top: -60px;
  position: relative;
}

#campaign-wedding, #campaign-sports, #campaign-birthday, #campaign-question {
  background: url(asset_path("campaign-wedding.png"));
  height: 175px;
  width: 175px;
  background-size: cover;
  margin-left: 50px;
}

#campaign-wedding:hover, #campaign-sports:hover, #campaign-birthday:hover, #campaign-question:hover {
  -webkit-animation: campaign-icons-hover 0.1s;
  -webkit-animation-fill-mode: forwards;
}


#campaign-question {
  background: url(asset_path("campaign-question.png"));
  background-size: cover;
}
#campaign-sports {
  background: url(asset_path("campaign-sport.png"));
  background-size: cover;
}

#campaign-birthday {
  background: url(asset_path("campaign-birthday.png"));
  background-size: cover;
}

#campaign-icon-wrapper {
  margin-left: 90px;
}
.campaign-wrapper {
  background: #fff;
}

.campaign-icon-font {
  font: $h1;
  color: $black;
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
}

@-webkit-keyframes campaign-icons-hover {
  0% {width: 175px; height: 175px;}
  100% {width: 199px; height: 199px; margin-left: 38px;}
}

@media (max-width: 1000px) {
  .campaign-padding {
    padding: 60px 20px 60px 20px;
  }

  #campaign-wedding, #campaign-sports, #campaign-birthday {

  }
}

@media (max-width: 600px) {
  #campaign-title {
    font-size: 70px;
    line-height: 72px;
  }

}
