/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}

.footer-wrapper {
  position: fixed;
  z-index: -1;
  bottom: 0;

  height: 350px;
}

.footer-top {
  height: 350px;
  background-color: $primary-color;
  background-size: cover;
  background-position: center;

  p {
    padding-top: 200px;
    font: lighter 12px Lato;
    color: rgba(255, 255, 255, 0.75);
  }
}

.footer-bottom {
  height: 50px;
  margin-top: -50px;
  background-color: rgba(250, 152, 59, .5);
  background-size: cover;
  background-position: center;
}

.footer-table {
  padding: 0px 0px;
  margin: 0 12.5% 0 12.5%;

  ul {
    list-style-type: none;
    padding: 0 0;
    opacity: 0.875;

    font: lighter 14px Lato;
    color: rgba(255, 255, 255, 0.875);
  }
}

.footer-col {
  display: block;
  float: left;
  width: 33.33%;
}

.footer-extra {
  width: 100%;
  display: inline-block;
  vertical-align: middle;

  p {
  	color: $light-gray;
  	display: inline;
  }
}

#footer-blueprint {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
