/* Import the variables for the general theme */
@import "variables.css.scss";

/* Define all custom css here, but start every class and id with the filename. For example:
#about-box { width: 100%; }
.about-potato { width: 100px; }
for the about.css.scss file custom styling*/

@media (max-width: 1000px) {
  /* Adaptations for medium-sized screens */
}

@media (max-width: 600px) {
  /* Adaptations for small-sized screens */
}

.footer-wrapper {
  position: fixed;
  z-index: -1;
  bottom: 0;
  height: 550px;
  overflow: hidden;
}

.footer-top {
  margin-top: -15px;
  height: 100px;
  background-color: $black;
  background-size: cover;
  background-position: center;

  p {
    width: 600px;
    margin: auto;
    font: lighter 10px Bitter;
    line-height: 2;
    color: #fff;
    opacity: 0.5;
  }
}

.footer-bottom {
  height: 520px;
  padding-top: 200px;
  background-color: $black;
  width: 100%;
}

.footer-table {
  padding: 0px 0px;
  margin: 0 20% 0 20%;

  div {
    margin-top: 2%;
  }

  a {
    padding: 0 0;
    opacity: 0.5;
    display: block;
    margin: 5px;

    font: lighter 14px Bitter;
    color: #fff;

    &:hover {
      opacity: 1;
    }
  }
}

.footer-col {
  position:relative;
  top: -10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20%;
}

.footer-col h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}

#footer-africa-icon {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 0;
}

// .footer-extra {
//   width: 100%;
//   display: inline-block;
//   vertical-align: middle;

//   p {
//   	color: $light-gray;
//   	display: inline;
//   }
// }

// #footer-blueprint {
//   height: 30px;
//   width: 30px;
//   vertical-align: middle;
// }
