@import "variables.css.scss";

#donation-container {
  width: 100%;
  height: 1000px;
}

#donation-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#donation-content-container {
  width: 100%;
  height: 100%;
  float: right;
  position: relative;
  z-index: 2;
}

#donation-headline {
  text-align: center;
  margin-top: 5%;
}

#donation-form {
  background-color: white;
  width: 90%;
  // height: 60%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  padding: 20px 30px;
  overflow: auto;
  padding-bottom: 100px;
}

#donation-donate-range {
  float: left;
  width: 20%;
  height: 500px;
}

.donation-range-container {
  width: 260px;
  height: 115px;
  padding: 0px 10px;
  background: #EEE;
  margin: 3px 0px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.donation-square {
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -45px;
  top: 65px;
  position: absolute;
  background-color: #fff;
  border-left: none;
  border-bottom: none;
}

.donation-square-2 {
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -45px;
  top: -50px;
  position: absolute;
  background-color: #fff;
  border-left: none;
  border-bottom: none;
}

.donation-range-container:hover {
  background-color: $primary-color;
}

.donation-range-head {
  font: 400 24px Lato, serif;
}

.donation-range-range {
  font-size: 20px;
}

#range-1, #range-2, #range-3, #range-4 {
  padding-top: 12%;
  padding-left: 7%;
}

#donation-donate-info {
  float: left;
  width: 50%;
  height: 500px;
  position: relative;
}

.donation-text {
  float:left;
  width: 50%;
  padding: 20px;
}

#donation-donate-container {
  float:left;
  width: 30%;
  height: 500px;
  position: relative;
}

.donation-position {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#donation-donate-description {
  line-height: 24px;
}

#donation-donate-extra {
  display: none;
  clear: both;
  padding-bottom: 50px;
}

#donation-wow {
  font-size: 75px;
  text-align: center;
}

#donation-amazing {
  font-size: 40px;
  text-align: center;
}

#donation-generous {
  text-align: center;
}

#donation-donate-image {
  float:left;
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: center;
}


#donation-subtitle {
  text-align: center;
  font-size: 60px;
}

#donation-amount-container {
  margin: 10px auto;
  width: 81%;
  height: 130px;
  position: relative;
  border: 5px solid #FFF3E7;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#donation-font {
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: $primary-color;
}

#donation-dollar-sign {
  @extend #donation-font;
  width: 10%;
  float: left;
  font-size: 40px;
  padding-top: 10px;
  padding-left: 5px;
}

#donate-amount-text {
  @extend #donation-font;
  width: 89%;
  margin: 0 auto;
  padding: 0px;
  font-size: 100px;
  float: left;
  border-style: none;
}


#donation-slider {
  width: 77%;
  margin: 0px auto;
  bottom: 0;
  left: 15%;
  right: 0;
  position: absolute;
  margin-bottom: 50px;
}

#donate-button-container {
  width: 80%;
  margin: 0 auto;
}

#donate-modal-button {
  text-align: center;
  width: 100%;
}

#donate-info-container {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

#donate-info-button:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  #donation-donate-range {
    padding-top: 50px;
  }

  .donation-range-container {
    width: 230px;
    height: 100px;
  }

  .donation-square {
    top: 50px;
  }

  .dontation-square-2 {
    top: -65px;
  }

  .donation-range-head {
    font: 400 16px Lato, serif;
  }

  .donation-range-range {
    font-size: 12px;
  }

  #range-1, #range-2, #range-3, #range-4 {
    padding-top: 20%;
    padding-left: 3%;
  }
}

@media (max-width: 1100px) {
  .donation-range-container {
    width: 180px;
    height: 100px;
  }
}