@import "variables.css.scss";

#home-banner {
  background: url(asset_path("home-banner.png"));
  background-size: cover;
  background-position: center;
  height: 440px;
}

.padding-center {
  padding-top: 140px;
}

#home-arrow {
  margin: auto;
  margin-top: -51px;
  background-color: #fff;
  width: 100px;
  height: 100px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 6px solid $secondary-color;
  border-bottom: 6px solid $secondary-color;
}

#home-family {
  position: absolute;
  top: 210px;
  right: 150px;
  width: 200px;
  height: 200px;
  background: url(asset_path("family.svg"));
  background-size: cover;
}

.home-wrapper {
  margin-top: 25px;
  overflow: hidden;
  margin-bottom: 25px;
}

.bg1 {
  background: url(asset_path("bg1.png"));
  background-size: cover;
}

.bg2 {
  background: url(asset_path("bg2.png"));
  background-size: cover;
}

.bg3 {
  background: url(asset_path("bg3.png"));
  background-size: cover;
}

.bg4 {
  background: url(asset_path("bg4.png"));
  background-size: cover;
}

.bg5 {
  background: url(asset_path("bg5.png"));
  background-size: cover;
}

.bg6 {
  background: url(asset_path("bg6.png"));
  background-size: cover;
}

.home-image {
  float: left;
  box-sizing: border-box;
  height: 400px;
  width: 400px;
  padding: 0;
}

.home-image img {
  width: 100%;
  height: 100%;
}

.home-text {
  float: right;
  margin: 50px;
  text-align: left;
  box-sizing: border-box;
  height: 400px;
  width: 600px;
  padding: 75px 0 0 50px;
  vertical-align: text-bottom;
}

.home-text h2 {
  font-size: 36px;
}

.home-text p {
  color: $black;
}

.home-left {
  float: left;
  margin-left: 75px;
  padding: 75px 40px 0 0;
}

@media (max-width: 1000px) {
}

@media (max-width: 600px) {
}