@import "variables.css.scss";

#navbar {
  width: 100%;
  height: 62px;
  background: #fff;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

#navbar-container {
  position: fixed;
  z-index: 69;
  top: 0;
  width: 100%;
  height: 130px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar-show {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 69;
  background: url(asset_path("menu.svg"));
  background-size: cover;
}

.navbar-spacer {
  width: 100%;
  height: 62px;
}

#navbar-home {
  position: fixed;
  left: 0;
  top: 0;
  width: 160px;
  height: 114px;
  background: url(asset_path("logo-horizontal.png"));
  background-size: cover;
}

.navbar-tab {
  float: right;
  display: block;
  margin: 10px;
  padding: 12px 15px;
  font: $h2;
  font-size: 16px;
  font-weight: 400;
  color: $light-gray;
}

.navbar-tab:hover {
  color: $black;
}

.navbar-highlight {
  background: $primary-color;
  margin: 0;
  padding: 22px 27px 21px;
  color: #fff;
}

.navbar-highlight:hover {
  background: $secondary-color;
  color: #fff;
}

#navbar-menu {
  position: fixed;
  z-index: 70;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#navbar-outside {
  position: fixed;
  z-index: 69;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: transparent;
}

@media (max-width: 1000px) {
  #navbar-home {
    position: initial;
    float: left;
    margin: 15px;
  }

  .navbar-spacer {
    height: 0px;
  }

  .navbar-tab {
    margin: 0;
    padding: 20px;
    width: 200px;
    text-align: center;
  }

  .navbar-tab:hover {
    color: $light-gray;
  }

  .navbar-highlight {
    width: 160px;
    padding: 20px;
    margin: 10px 20px;
    color: #fff;
  }

  .navbar-highlight:hover {
    background: $primary-color;
    color: #fff;
  }
}

.sign-in {
  background: transparent;
  color: #FFFFFF;
  cursor: default;
}

.sign-in:hover {
  color: #FFFFFF;
}

@media (max-width: 600px) {
}
