@font-face {
    font-family: 'Ostrich Sans Heavy';
    src: url("ostrichsans-heavy-webfont.eot");
    src: url("ostrichsans-heavy-webfont.woff") format('woff'), url("ostrichsans-heavy-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

$h1: 700 60px Dosis, sans-serif;
$h2: 400 60px Dosis, sans-serif;
$p: 400 18px Lato, serif;
$primary-color: #FFC953;
$secondary-color: #F8991E;
$tertiary-color: #B25A3F;
$light-gray: #AAAAAA;
$dark-gray: #666666;
$black: #333333;

$footer-margin: 350px;
