$h1: normal 108px ostrichsans-heavy, sans-serif;
$h2: 300 48px Lato, sans-serif;
$p: normal 16px Bitter, serif;
$primary-color: #FFC953;
$secondary-color: #F8991E;
$light-gray: #AAAAAA;
$dark-gray: #666666;
$black: #333333;